@import "tailwindcss";

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


@theme {
  --color-forest-green-50: #effef2;
--color-forest-green-100: #dbfde3;
--color-forest-green-200: #b9f9c7;
--color-forest-green-300: #82f39d;
--color-forest-green-400: #44e46b;
--color-forest-green-500: #1bcc46;
--color-forest-green-600: #10a935;
--color-forest-green-700: #11882f;
--color-forest-green-800: #136829;
--color-forest-green-900: #115624;
--color-forest-green-950: #033011;

--animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

}