@import "tailwindcss";

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --color-forest-green-50: #effef2;
--color-forest-green-100: #dbfde3;
--color-forest-green-200: #b9f9c7;
--color-forest-green-300: #82f39d;
--color-forest-green-400: #44e46b;
--color-forest-green-500: #1bcc46;
--color-forest-green-600: #10a935;
--color-forest-green-700: #11882f;
--color-forest-green-800: #136829;
--color-forest-green-900: #115624;
--color-forest-green-950: #033011;

--animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 32px;
  border-bottom: 1px solid gray;
}

.navbar .links{
  margin: auto;
  gap: 5px;
}

.navbar h1{
  margin-left: 300px;
}

.navbar a {
  margin-left: 14px;
}

.navbar a:hover {
  color: pink;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
} 
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}